<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RPA99AI.App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RPA99AI.App.Properties.Settings>
            <setting name="FrmMain_CmbSite_SelectedIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FrmMain_CmbZone_SelectedIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FrmMain_CmbWilaya_SelectedIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FrmMain_CmbMateriau_SelectedIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FrmMain_CmbImportance_SelectedIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FrmMain_CmbTypeOuvrage_SelectedIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FrmMain_CmbFormuleFond_SelectedIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FrmMain_CmbFormuleEmpirique_SelectedIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FrmMain_CmbSysContreventement_SelectedIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FrmMain_CmbSysContreventementStat_SelectedIndex"
                serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FrmOptions_ChkIsShowHint_Checked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FrmMain_TxtWg_Text" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FrmOptions_ChkIsXiCustomValue_Checked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FrmOptions_ChkIsRCustomValue_Checked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FrmOptions_ChkIsT1T2CustomValue_Checked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FrmOptions_ChkIsQCustomValue_Checked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FrmOptions_ChkIsACustomValue_Checked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FrmOptions_ChkIsBetaCustomValue_Checked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FrmOptions_NumDuration_Value" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="FrmOptions_NumPrecesion_Value" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="FrmMain_TxtWq_Text" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FrmMain_TxtHn_Text" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FrmMain_TxtLx_Text" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FrmMain_TxtLy_Text" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FrmMain_TxtSegma_Text" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FrmMain_TxtXiValeur_Text" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FrmMain_TxtRValeur_Text" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FrmMain_TxtT1Valeur_Text" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FrmMain_TxtT2Valeur_Text" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FrmMain_TxtQValeur_Text" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FrmMain_TxtAValeur_Text" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FrmMain_TxtBetaValeur_Text" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FrmOptions_CmbDeclarationduZone_SelectedIndex"
                serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FrmQualite_ChkLstQualite_Item0" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FrmQualite_ChkLstQualite_Item1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FrmQualite_ChkLstQualite_Item2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FrmQualite_ChkLstQualite_Item3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FrmQualite_ChkLstQualite_Item4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FrmQualite_ChkLstQualite_Item5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FrmQualite_ChkLstQualite_Item6" serializeAs="String">
                <value>False</value>
            </setting>
        </RPA99AI.App.Properties.Settings>
    </userSettings>
</configuration>